{% load static %}

<!DOCTYPE html>
<html lang="zxx">

<head>

    <meta name="google-site-verification" content="WPfchvy8DLUBVpabazqO1HSZekw5CEeDoe1HzPQbz3g" />
    
    <meta charset="UTF-8">
    <meta name="description" content="Gutim Template">
    <meta name="keywords" content="Gutim, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The WillPower Myanmar</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="container">
            <div class="logo">
            </div>
            <div class="nav-menu">
                <nav class="mainmenu mobile-menu">
                    <ul>
                        <li><a href="#home" class="smoothScroll">Home</a></li>
                        <li><a href="#about" class="smoothScroll" >About</a></li>
                        <li><a href="#series" class="smoothScroll">Series</a></li>
                        <li><a href="#popular" class="smoothScroll">Popular</a></li>
                        <li><a href="#all_videos" class="smoothScroll">All Videos</a></li>
                    </ul>
                </nav>
                <a href="#" class="primary-btn signup-btn">SUBCRIBE NOW</a>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Hero Section Begin -->
    <section id="home" class="hero-section set-bg" data-setbg="{% static 'img/background.png' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="hero-text">
                        <span>Content Creator!</span>
                        <h1>The WillPOWER MYANMAR</h1>
                        <p>အသိပညာ၊ ဗဟုသုတ ရစေမယ့် Video လေးတွေ ကြိုက်သူများအတွက်<br/> အချိန်မရွေး၊ နေရာမရွေး</p>
                        <a href="#all_videos" class="primary-btn">WATCH NOW</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- About us Begin -->
    <section id="about" class="about-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-pic">
                        <iframe width="360" height="195" src="https://www.youtube.com/embed/rep8ynepImw?autoplay=1&mute=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"  allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-text">
                        <h2>About Us</h2>
                        <p class="first-para">The WillPower  Myanmar channel တွင် အသိပညာ၊ စိတ်၀င်စားစရာ ကောင်းပြီး၊ စိတ်ဓတ်မြင့်တင်ပေးတယ့် Video လေးတွေကို တင်ဆက်ပေးလေ့ရှိပါတယ်။ ကျွန်တော်တို့ Video လေးတွေမတစ်ဆင့် လူတိုင်းလူတိုင်း နေ့စဥ်ဘ၀အတွက် အသိပညာ၊ ဗဟုသုတ ရေစမယ်လို့ ကျွန်တော်တို့ မျော်လင့်ပါတယ်။</p>
                        <p class="second-para">The WillPower Myanmar channel provide videos about knowledge , inspiration and education . We hope that with our content , people get more inspire and knowledge for their daily task.</p>
                        <a href="https://www.youtube.com/channel/UCEBxCSEN6oeCkIjcctmCzlg?view_as=subscriber" class="primary-btn">WATCH NOW</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Us End -->

    <!-- Series Begin -->
    <section id="series" class="classes-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>"ငါ့အတွက် ငါရှိတယ်" BOOK SERIES</h2>
                    </div>
                </div>
            </div>
            
            <div class="row classes-slider owl-carousel">
                <div class="col-lg-4">
                    <iframe width="300" height="175" src="https://www.youtube.com/embed/OSjGFU_mycY" frameborder="0"  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <div class="si-text">
                            <h4>"ငါ့အတွက် ငါရှိတယ်" စာအုပ် အပိုင်း(၁)</h4>
                        </div>
                    </div>

                <div class="col-lg-4">
                    <iframe width="300" height="175" src="https://www.youtube.com/embed/nV02LxA3QS0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <div class="si-text">
                            <h4>"ငါ့အတွက် ငါရှိတယ်" စာအုပ် အပိုင်း(၂)</h4>
                        </div>                       
                    </div>

                <div class="col-lg-4">
                    <iframe width="300" height="175" src="https://www.youtube.com/embed/At1QvEwjlGQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <div class="si-text">
                            <h4>"ငါ့အတွက် ငါရှိတယ်" စာအုပ် အပိုင်း(၃)</h4>
                        </div>                       
                    </div>

                <div class="col-lg-4">
                    <iframe width="300" height="175" src="https://www.youtube.com/embed/i_RVM4Ao1lc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                        <div class="si-text">
                            <h4>"ငါ့အတွက် ငါရှိတယ်" စာအုပ် အပိုင်း(၄)</h4>
                        </div>                       
                    </div>

                <div class="col-lg-4">
                    <iframe width="300" height="175" src="https://www.youtube.com/embed/9oWrUauRm6g" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                        <div class="si-text">
                            <h4>"ငါ့အတွက် ငါရှိတယ်" စာအုပ် အပိုင်း(၅)</h4>
                        </div>                       
                    </div>
            </div>
        </div>
                    
                
    </section>
    <!-- Series End -->

    <section id="series" class="classes-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Motivational Videos</h2>
                    </div>
                </div>
            </div>
            
            <div class="row classes-slider owl-carousel">
                <div class="col-lg-4">
                    <iframe width="300" height="175" src="https://www.youtube.com/embed/rep8ynepImw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                        <div class="si-text">
                            <h4>Ronaldo အတော်ဆုံးဖြစ်နေနိုင်ဖို့ ဘာတွေလုပ်သလဲး? </h4>
                        </div>
                    </div>

                <div class="col-lg-4">
                    <iframe width="300" height="175" src="https://www.youtube.com/embed/IjejWSIdjOw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                        <div class="si-text">
                            <h4>သင့်မာလဲး ဒီလို ရူးသွပ်မှု၊ ဆုံးဖြတ်ချက် ရှိနေရင် အောင်မြင်မှုဟာ သင့်လက်ထဲးမာ။</h4>
                        </div>                       
                    </div>

            </div>
        </div>
                    
                
    </section>
    <!-- Series End -->

    <!-- Popular Begin -->
    <section id="popular" class="trainer-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>POPULAR CONTENTS</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-trainer-item">
                        <iframe width="350" height="180" src="https://www.youtube.com/embed/rep8ynepImw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <div class="trainer-text">
                                <h5>Ronaldo အတော်ဆုံးဖြစ်နေနိုင်ဖို့ ဘာတွေလုပ်သလဲး?</h5><br>
                                <span><i class="fa fa-user"></i> 99 Views</span>
                            </div>                                                
                        </div>
                    </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-trainer-item">
                    <iframe width="350" height="180" src="https://www.youtube.com/embed/s1x_tVibih4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <div class="trainer-text">
                            <h5>"ရောင်းချနည်းပညာ" ဗဟုသုတ ရစေမယ့် ‌ဇော်နီကျော်မိုး မှ သင်ခန်းစာ</h5><br>
                            <span><i class="fa fa-user"></i>143 Views</span>
                        </div>                                                
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="single-trainer-item">
                        <iframe width="350" height="180" src="https://www.youtube.com/embed/IEwpnFqbl9E" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <div class="trainer-text">
                                <h5>အတွေးအခေါ် တိုးမြင့်စေမယ့် အကောင်းဆုံး စကားပုံ ( ၁၅ ) ခု</h5><br>
                                <span><i class="fa fa-user"></i> 120 Views </span>
                            </div>                                                
                        </div>
                    </div>
    </section>
    <!-- Popular End -->
    

    <!-- All Videos Begin -->
    <section id="all_videos" class="latest-blog-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>All Videos</h2>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-lg-4 col-md-6">
                    <div class="single-blog-item">
                        <iframe width="350" height="195" src="https://www.youtube.com/embed/IjejWSIdjOw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                        <div class="blog-widget">
                            <div class="bw-date">30 Views</div>
                            <a href="https://youtube.com/channel/UCEBxCSEN6oeCkIjcctmCzlg" class="tag">#thewillpowermyanmar</a>
                        </div>
                        <h4><a href="https://youtube.com/channel/UCEBxCSEN6oeCkIjcctmCzlg">သင့်မာလဲး ဒီလို ရူးသွပ်မှု၊ ဆုံးဖြတ်ချက် ရှိနေရင် အောင်မြင်မှုဟာ သင့်လက်ထဲးမာ။</a></h4>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="single-blog-item">
                        <iframe width="350" height="195" src="https://www.youtube.com/embed/zMj4SL022wE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                        <div class="blog-widget">
                            <div class="bw-date">30 Views</div>
                            <a href="https://youtube.com/channel/UCEBxCSEN6oeCkIjcctmCzlg" class="tag">#thewillpowermyanmar</a>
                        </div>
                        <h4><a href="https://youtube.com/channel/UCEBxCSEN6oeCkIjcctmCzlg">ဘ၀ပြောင်းလဲး ပေးနိုင်တယ့် Zen Master ပုံပြင်</a></h4>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="single-blog-item">
                        <iframe width="350" height="195" src="https://www.youtube.com/embed/At1QvEwjlGQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <div class="blog-widget">
                            <div class="bw-date">30 Views</div>
                            <a href="https://youtube.com/channel/UCEBxCSEN6oeCkIjcctmCzlg" class="tag">#thewillpowermyanmar</a>
                        </div>
                        <h4><a href="https://youtube.com/channel/UCEBxCSEN6oeCkIjcctmCzlg">ငါ့အတွက် ငါရှိတယ်" စာအုပ် အပိုင်း(၃)</a></h4>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="single-blog-item">
                        <iframe width="350" height="195" src="https://www.youtube.com/embed/nV02LxA3QS0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <div class="blog-widget">
                            <div class="bw-date">40 Views</div>
                            <a href="https://youtube.com/channel/UCEBxCSEN6oeCkIjcctmCzlg" class="tag">#thewillpowermyanmar</a>
                        </div>
                        <h4><a href="https://youtube.com/channel/UCEBxCSEN6oeCkIjcctmCzlg">"ငါ့အတွက် ငါရှိတယ်" စာအုပ် အပိုင်း(၂)</a></h4>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="single-blog-item">
                        <iframe width="350" height="195" src="https://www.youtube.com/embed/OSjGFU_mycY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <div class="blog-widget">
                            <div class="bw-date">64 Views</div>
                            <a href="https://youtube.com/channel/UCEBxCSEN6oeCkIjcctmCzlg" class="tag">#thewillpowermyanmar</a>
                        </div>
                        <h4><a href="https://youtube.com/channel/UCEBxCSEN6oeCkIjcctmCzlg">"ငါ့အတွက် ငါရှိတယ်" စာအုပ် အပိုင်း(၁)</a></h4>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="single-blog-item">
                        <iframe width="350" height="195" src="https://www.youtube.com/embed/IEwpnFqbl9E" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <div class="blog-widget">
                            <div class="bw-date">120 Views</div>
                            <a href="https://youtube.com/channel/UCEBxCSEN6oeCkIjcctmCzlg" class="tag">#thewillpowermyanmar</a>
                        </div>
                        <h4><a href="https://youtube.com/channel/UCEBxCSEN6oeCkIjcctmCzlg">အတွေးအခေါ် တိုးမြင့်စေမယ့် အကောင်းဆုံး စကားပုံ ( ၁၅ ) ခု</a></h4>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="single-blog-item">
                        <iframe width="350" height="195" src="https://www.youtube.com/embed/8hVEt705q8E" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <div class="blog-widget">
                            <div class="bw-date">53 Views</div>
                            <a href="https://youtube.com/channel/UCEBxCSEN6oeCkIjcctmCzlg" class="tag">#thewillpowermyanmar</a>
                        </div>
                        <h4><a href="https://youtube.com/channel/UCEBxCSEN6oeCkIjcctmCzlg">စကားပြေားကျွမ်းကျင်စေမယ့် နည်းလမ်း(၄)မျိုး</a></h4>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="single-blog-item">
                        <iframe width="350" height="195" src="https://www.youtube.com/embed/rep8ynepImw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <div class="blog-widget">
                            <div class="bw-date">99 Views</div>
                            <a href="https://youtube.com/channel/UCEBxCSEN6oeCkIjcctmCzlg" class="tag">#thewillpowermyanmar</a>
                        </div>
                        <h4><a href="https://youtube.com/channel/UCEBxCSEN6oeCkIjcctmCzlg">Ronaldo အတော်ဆုံးဖြစ်နေနိုင်ဖို့ ဘာတွေလုပ်သလဲး?</a></h4>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="single-blog-item">
                        <iframe width="350" height="180" src="https://www.youtube.com/embed/s1x_tVibih4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <div class="blog-widget">
                            <div class="bw-date">143 Views</div>
                            <a href="#" class="tag">#thewillpowermyanmar</a>
                        </div>
                        <h4><a href="#">"ရောင်းချနည်းပညာ" ဗဟုသုတ ရစေမယ့် ‌ဇော်နီကျော်မိုး မှ သင်ခန်းစာ</a></h4>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="single-blog-item">
                        <iframe width="350" height="180" src="https://www.youtube.com/embed/i_RVM4Ao1lc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                        
                        <div class="blog-widget">
                            <div class="bw-date">43 Views</div>    
                            <a href="#" class="tag">#thewillpowermyanmar</a>
                        </div>
                        <h4><a href="#">"ငါ့အတွက် ငါရှိတယ်" စာအုပ် အပိုင်း(၄)</a></h4>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="single-blog-item">
                        <iframe width="350" height="180" src="https://www.youtube.com/embed/9oWrUauRm6g" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                           
                        <div class="blog-widget">
                            <div class="bw-date">33 Views</div>    
                            <a href="#" class="tag">#thewillpowermyanmar</a>
                        </div>
                        <h4><a href="#">"ငါ့အတွက် ငါရှိတယ်" စာအုပ် အပိုင်း(၅)</a></h4>
                    </div>
                </div>


            </div>
        </div>
    </section>
    <!-- All Videos End -->

    <!-- Footer Section Begin -->
    <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="contact-option">
                        <span>Phone</span>
                        <p>+95-976-414-4889</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="contact-option">
                        <span>Address</span>
                        <p>မြို့မလမ်း၊ တမူးမြို့။</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="contact-option">
                        <span>Email</span>
                        <p>kisantimsina201@gmail.com</p>
                    </div>
                </div>
            </div>
            <div class="subscribe-option set-bg" data-setbg="{% static 'img/footer-signup.jpg' %}">
                <div class="so-text">
                    <h4>Subscribe To Our CHANNEL</h4>
                    <p>For More Knowledge, Inspiration and Educational Videos </p>
                </div>
                <form action="#" class="subscribe-form">
                    <a href="https://www.youtube.com/channel/UCEBxCSEN6oeCkIjcctmCzlg" class="primary-btn">SUBCRIBE</a>
                </form>
            </div>
            <div class="copyright-text">
                <ul>
                    <li><a href="#">Term&Use</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
                <p>&copy;<p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></p>
                <div class="footer-social">
                    <a href="https://www.facebook.com/EducationalVidz"><i class="fa fa-facebook"></i></a>
                    <a href="https://www.tiktok.com/@the_willpower_myanmar?lang=en"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.instagram.com/the_willpower_myanmar/"><i class="fa fa-instagram"></i></a>
                    <a href="https://www.youtube.com/channel/UCEBxCSEN6oeCkIjcctmCzlg"><i class="fa fa-heart"></i></a>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/mixitup.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>